body{
    background-color: #EDF1F2;
}
.header{
    background-color:#e44952;
}
.header img{
    width: 182px;
    margin-top: 8px;
    margin-right: 11px;
    margin-left: 10px;
    padding:4px 7px 7px 7px;
    border-right: 1px solid #eb6d74;

}
/* view page */
.buttonContainer{
    width:90%;
    height:30px;
    margin : 2% auto ;
}
.primaryButton{
    border:1px transparent;
    background-color: #3CC3A4;
    color: white;
    padding:10px 12px;
    border-radius:1px;
    font-size: 15px;
    margin-right: 5px;
    outline:none;
}
/* table */
.tableContainer{
    width:90%;
    margin:auto;
    border:1px transparent;
    border-radius: 5px;
    background-color: white;
}
.tableContainer table{
    width:100%;
    margin:0;
}

.tableContainer table tr th{
    background-color: #EDF1F2;
    font-size:15px;
    color:rgb(83, 80, 80);
    padding:15px;
}
.tableContainer table tr td{
    border-bottom:1px solid #EDF1F2;
    padding:20px;
    color:rgb(83, 80, 80);
}
.redButton{
    border:1px transparent;
    background-color: rgb(228, 72, 72);
    color: white;
    padding:10px 12px;
    border-radius:1px;
    font-size: 15px;
    outline:none;

}
/* floating model */
h3{
   margin: auto 5vh;
    border:none;
    padding:15px;
    color:rgb(83, 80, 80);  
}
.textFields{
    text-align: center;
}
.inputField{
    margin: auto 5vh;
    border:none;
    padding:15px;
    border-bottom:2px solid #3CC3A4;
}
.selectStatus{
    margin: auto 5vh;
    border:none;
    padding:15px;
    color:rgb(83, 80, 80);
}
.modalButtons{
   margin: auto 5vh;
    border:none;
    padding:15px;
    color:rgb(83, 80, 80);  
}